@{
    ViewData["Title"] = "Home Page";
}
<header id="indexHeader">

</header>
<body id="indexBody">
    <div id="mainLayout">
        <br />
        <h1 id="lblWelcomeMsg" class="align-content-center">Welcome To Contract Monthly Claim System</h1><br />
        <h3 id="lblWelcomeMsg">A system you can trust, the future of payroll</h3><br /><br />
        <img src="~/Imgs/clipboard.png" class="img-fluid" width="100" height="150" /><br />

    </div>
    <div id="btnLayout" class="d-flex justify-content-evenly">
        <div id="lecturerBtnLayout">
            <h5 id ="lblLecturer">Lecturer Login</h5> <br />
            <!-- currently routing the login button to the submit claim view, login to be implemented later-->
            <a href="@Url.Action("LecturerMenu", "Home")" class="btnLecturer">Login</a>
        </div>

        <div id="adminBtnLayout">
            <h5 id ="lblAdmin">Admin Login</h5> <br />
            <a href="@Url.Action("AdminMenu", "Home")" class="btnAdmin">Login</a>
        </div>
    </div>
</body>


