@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>

</head>
<body id="lecturerMenuBody">
    <div id="mainLayout">
        <br />
        <h1 id="lblWelcomeMsg" class="align-content-center">Lecturers Menu</h1><br />
        <h3 id="lblWelcomeMsg">Choose Whether to Submit A Claim or View Submitted Claims</h3><br /><br />

    </div>
    <div id="btnLayout" class="d-flex justify-content-evenly">
        <div id="submitClaimBtnLayout">
            <!-- currently routing the login button to the submit claim view, login to be implemented later-->
            <a href="@Url.Action("LecturerSubmitClaim", "Home")" class="btnLecturer">Submit Claims</a>
        </div>

        <div id="claimHistoryBtnLayout">
            <a href="@Url.Action("LecturerClaimHistory", "Home")" class="btnLecturer">View Claims</a>
        </div>

        <div id="BacktoHomeBtnLayout">
            <!-- currently routing the login button to the reviewClaim from AdminViewClaims, login to be implemented later-->
            <a href="@Url.Action("Index", "Home")" class="btnLecturer">Back-To-Home</a>
        </div>
    </div>
</body>