<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ContractMonthlyClaimSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ContractMonthlyClaimSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav id="navBar">
            <div class="container-fluid">
                <a id=navBarContent" asp-area="" asp-controller="Home" asp-action="Index">ContractMonthlyClaimSystem</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                </button>
            </div>
        </nav>
    </header>

    <div id="mainContainer">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br/>
    <br/>
    <footer class="border-top footer text-muted">
        <div class="container">
            Liyema Manqoyi | FullStackDeveloper 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
