html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*the main layout decoration or design*/
#mainLayout{
    display: block;
    align-content: center;
    text-align: center;
    margin: 0px 0px 150px;

}

/*lecture button layout design*/
#lecturerBtnLayout{
    display:block;
    align-content:center;
    text-align:center;
}
.btnLecturerLogin {
    background-color: lightpink;
    color: black;
    padding: 14px 25px;
    border: groove;
    border-radius: 10px;
    cursor: pointer;
}


/*admin button layout design*/
#adminBtnLayout {
    display: block;
    align-content: center;
    text-align: center;
}
.btnAdminLogin {
    background-color: cornflowerblue;
    color: black;
    padding: 14px 25px;
    border: groove;
    border-radius: 10px;
    cursor: pointer;
}