html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


html {
  position: relative;
  min-height: 100%;
}

/*the header layout decoration or design*/
head{
    color: aliceblue;
    justify-content: center;
}

/*the body layout decoration or design*/
body {
    display:block;
    align-content:center;
    color:white;
    background-color: black;
    border: 2px ridge;
    border-color: lightcoral;
    height:fit-content;
    width:fit-content;
}

#navBar{
    display: box;
    align-content: center;

}

#navBarContent{
    display: flex;
    color:antiquewhite;
}

/*the main layout decoration or design*/
#mainLayout{
    display: block;
    align-content: center;
    text-align: center;
    height:max-content;
    margin: 0px 0px 35px;
}

label{
    color:white;
    margin: 0px 10px;
}
/*lecture button layout design*/
#lecturerBtnLayout{
    display:block;
    align-content:center;
    text-align:center;
}

.form-element{
    margin:10px 0px 10px;
    border: 1px solid;
    border-color: hotpink;
    width:fit-content;
    font-size:23px;
}


.btnLecturer {
    background-color: lightpink;
    color: black;
    width: 150px;
    padding: 14px 45px;
    border: solid;
    border-color: hotpink;
    border-radius: 10px;
}
#lblLecturer{
    color: white;
    margin: 0px 0px 20px;
    size: 20px;
}

#lblWelcomeMsg{
    color:white;
}
#btnSubmit {
    background-color: lightpink;
    color: black;
    padding: 14px 25px;
    border: solid;
    border-color: hotpink;
    border-radius: 10px;
}

/*admin button layout design*/
#adminBtnLayout {
    display: block;
    align-content: center;
    text-align: center;
}
.btnAdmin {
    background-color: cornflowerblue;
    color: black;
    padding: 14px 45px;
    border: solid;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    border-color: aqua;
}
#lblAdmin {
    color: white;
    margin: 0px 0px 20px;
}